<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960792720630-e6r3o28ch3tfeo864vvm73q9bi1aa9tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960792720630-e6r3o28ch3tfeo864vvm73q9bi1aa9tu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>960792720630-9470986pabpf6e7n5en1rgkoss5kpear.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNoRNlEw7BKjZASJxa4_rYKA9uKDz748o</string>
	<key>GCM_SENDER_ID</key>
	<string>960792720630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.managment</string>
	<key>PROJECT_ID</key>
	<string>finance-management-app-30b1f</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-management-app-30b1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960792720630:ios:6a1d552a10d3268cfb28d7</string>
</dict>
</plist>